html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #4A4A4A;
}

/* header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo .title-first {
  color: #4A4A4A;
}

.logo .title-second {
  color: #A2A2A2;
}

.logo img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0 0 1.5rem;
}

.logo span {
  font-size: 2rem;
}

nav {
  font-size: 1.5rem;
  margin: 0 1.5rem 0 0;
}

nav .nav-space {
  margin: 0 1rem 0 0;
}
/* header end */
/* main */

#main-one {
  display: flex;
  width: 100%;
  /* height: 42rem; */
  background-color: lightgrey;
}

#main-one img {
  width: 100%;
  /* margin: 2rem 1.5rem; */
}

#main-one .sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.sub-title .item {
  margin-top: 2.3rem;
}

.sub-title h1 {
  width: 95%;
  font-size: 3.5rem;
  font-weight: bold;
}

.sub-title p {
  width: 95%;
  font-size: 1.8rem;
}

.sub-title button {
  background-color: #4A4A4A;
  color: white;
  width: 82%;
  height: 3.5rem;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem 0;
}

#main-two {
  display: flex;
  width: 100%;
  background-color: white;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.left .sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 0rem 2rem 0rem;
}

.left .sub-title h1 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.left img {
  width: 100%;
}

.left .sub-title p {
  line-height: 1.3;
  word-spacing: 0.2rem;
  font-size: 1rem;
}

.left .sub-title .signature {
  margin: 2.5rem 2rem 2rem 0;
}

.right {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding: 1rem 0 0 0;
  border-left: 1px grey solid;
}


.right .box {
  display: flex;
  align-items: flex-end;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px grey solid;
}

.right img {
  width: 35%;
}

.box .text {
  margin: auto 0 auto 2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .text h2 {
  margin: 0 0 1rem 0;
}

.box .text p {
  margin: 0 0 1rem 0;
}
