html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #4A4A4A;
}

.grey {
  background-color: lightgrey;
}

/* header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .title-first {
  color: #4A4A4A;
}

.logo .title-second {
  color: #A2A2A2;
}

.logo img {
  width: 3.5rem;
  height: 3rem;
  margin: 0 0 0 1.5rem;
}

.logo span {
  font-size: 1.5rem;
}

nav.desktop {
  flex-grow: 1;
  font-size: 1.3rem;
  text-align: right;
  margin: 0 1.5rem 0 0;
}

nav.desktop .nav-space {
  margin: 0 1rem 0 0;
}

nav.mobile {
  display: none;
}
/* header end */

/* main ONE start */
#main-one {
  display: flex;
  width: 100%;
}

#main-one img {
  width: 100%;
}

#main-one .sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.sub-title .item {
  margin-top: 2.3rem;
}

.sub-title h1 {
  width: 95%;
  font-size: 3.5rem;
  font-weight: bold;
}

.sub-title p {
  width: 95%;
  font-size: 1.8rem;
}

.sub-title button {
  background-color: #4A4A4A;
  color: white;
  width: 82%;
  height: 3.5rem;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem 0;
}
/* main ONE end */

/* main TWO end */
#main-two {
  display: flex;
  width: 100%;
  background-color: white;
}

.left .sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.left .sub-title h2 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.left img {
  width: 100%;
}

.left .sub-title p {
  line-height: 1.3;
  word-spacing: 0.2rem;
  font-size: 1rem;
}

.left .sub-title .signature {
  margin: 2.5rem 2rem 2rem 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  min-width: 440px;
  padding: 1rem 0 0 0;
  border-left: 1px grey solid;
}

.right .box {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px grey solid;
}

.right .box img.mobile {
  display:none;
}

.right img {
  width: 35%;
  margin: 0 0 0 1rem;
}

.box .text {
  margin: auto 0 auto 2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .text h3 {
  margin: 0 0 1rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.box .text p {
  margin: 0 0 1rem 0;
  line-height: 1.7;
  font-size: 1rem;
}

.box .text a {
  color: blue;
  text-decoration: none;
}

#main-three .container .headline h4 {
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 4.5rem;
  display: flex;
  max-width: 1050px;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
}

#main-three .course .text {
  background-color: white;
  line-height: 1.1rem;
}

.flex-container .course {
  width: 30%;
  height: 18rem;
  margin-bottom: 20px;
}

.flex-container .course img {
  width: 100%;
  height: auto;
}

.flex-container .course .text {
  font-size: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.flex-container .course .text h6 {
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.flex-container .course .text p {
  padding-top: 0.55rem;
  font-weight: 100;
  color: grey;
}

.flex-container .course .text span {
  font-weight: 100;
}

.flex-container .course #padding {
  padding-bottom: 0.5rem;
}

#main-four .container {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

.thesis-flex {
  display: flex;
  justify-content: space-between;
  /* max-width: 1050px; */
  margin: auto;
}

.thesis-flex .left-section {
  width: 60%;
  padding: 2rem 1.5rem;
}

.thesis-flex .right-section {
  width: 40%;
}

.thesis-flex .left-section video {
  width: 100%;
}

.thesis-flex .left-section h5 {
  padding-top: 1.5rem;
  font-size: 1.10rem;
  color: #383838;
  font-weight: bold;
  text-align: left;
}

.thesis-flex .left-section p {
  padding: 0.5rem 1.5rem 1.5rem 0px;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
  text-align: left;
}

#main-four .thesis-flex .right-section .first_box {
  display: flex;
  align-items: flex-end;
  padding: 1rem 0 1rem 1rem;
}

#main-four .thesis-flex .right-section .second_box {
  display: flex;
  align-items: flex-end;
  padding: 1rem 0 1rem 1rem;
}

.right-section img {
  width: 35%;
}

#main-four .first_box .content {
  margin: auto 0 auto 1rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-section {
  margin-top: 2rem;
}

.right-section .first_box h6 {
  font-size: 1.10rem;
  text-align: left;
}

.right-section .first_box p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding-top: 1rem;
  text-align: left;
  color: grey;
}

footer {
  border-top: 1px solid #DCDCDC;
  background-color: white;
  height: 3.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}

footer .nav {
  text-align: right;
  flex-grow: 1;
}

.flex p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #383838;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
}

.footer_nav a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: .75rem;
  text-decoration: none;
}

/* media*/

@media only screen and (max-width: 750px) {

  #main-one {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .left {
    width: 100%;
    width: 100%;
    padding: 0rem 0rem;
  }

  #main-one .sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 2rem 1.5rem;
    padding-left: 0;
    align-items: center;
  }
}


@media only screen and (max-width: 480px) {

  /* HEADER START */
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
  }
  /* HEADER END */

  /* MAIN ONE START */
  #main-two .left {
    display: none;
  }

  .right {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  /* MAIN ONE END */

  /* MAIN TWO START */
  /* MAIN TWO END */

}
